.idea
.next
.vscode
.gradle
.sto
node_modules
plugins
documentation.json
google-services.json
angular.json
package.json
release-signing.properties
.prettierignore
.gitignore
config.xml
src/assets
public
resources
html-release
*.keystore
release-signing
google-services
google-service.json
*json
